.mainHeading {
  font-size: 40px;
  font-weight: bolder;
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 1000; 
  padding: 10px 0;
}




.card {
  height: 350px; /* Set a fixed height for all cards */
  margin-bottom: 20px; /* Ensure spacing between rows */
  background-color: #d9d9d9;
}

.heading {
  font-size: x-large;
  font-weight: bold;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul.square-list {
  padding: 0; /* Remove default padding */
}

.square-list .list-group-item {
  display: flex; /* Ensures icons and text are in the same row */
  align-items: center; /* Vertically center the content */
  padding-left: 0; /* Ensure it aligns correctly */
  background: none; /* Optional: remove background */
  border: none; /* Optional: remove borders if needed */
  font-weight: bolder;
  font-size: larger;
}

.icons {
  color: #188a97;
  width: 30px; /* Fixed width for the icon to ensure text alignment */
  flex-shrink: 0; /* Prevent icon from shrinking */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -30px;
}

/* Ensure text wraps properly next to icons */
.square-list .list-group-item span {
  display: inline-block; /* Ensures text is inline with the icon */
  vertical-align: middle; /* Align the text vertically in the middle */
}

/* Ensure the sales chart takes up the full height */
.salesChart {
  height: 100%; /* Ensure the chart takes up the full height */
}
