.leadsHeading {
  margin-top: 10px;
  font-size: 40px;
  font-weight: bolder;
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 1000;
  padding: 10px 0;
}

.leadsContent {
  padding: 86px;
}

.table {
  width: 90%;
  border-collapse: collapse;
  border: 1px solid black;
}

.table th, .table td {
  border: 1px solid black;
  padding: 8px;
}

.table th {
  background-color:  #188a97 !important; /* Change this to your desired background color */
  color: #ffffff;
  text-align: center;
}

.table td {
  text-align: center;
  background-color: #d9d9d9;
  font-size: large;
  font-weight: bold;
}
